<!DOCTYPE html>
<html>
<head>
    <title>B-Place</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>B-Place Canvas</h1>
        <div class="canvas-wrapper">
            <canvas id="canvas" width="500" height="500" style="width: 1000px; height: 1000px;"></canvas>
<script>const canvasSize = 500;</script>
        </div>
        <div id="colorPicker" class="color-picker"></div>
        <p id="cooldownMsg"></p>
        <a href="/logout" class="btn">Logout</a>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>