<!DOCTYPE html>
<html>
<head>
    <title>B-Place</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>B-Place Canvas</h1>
        <div>
            <canvas id="canvas" width="128" height="128"></canvas>
        </div>
        <div class="toolbar">
            <label>Select color:</label>
            <select id="colorPicker">
                <option value="0">White</option>
                <option value="1">Black</option>
                <option value="2">Red</option>
                <option value="3">Green</option>
                <option value="4">Blue</option>
            </select>
            <p id="cooldownMsg"></p>
        </div>
        <a href="/logout" class="btn">Logout</a>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>